#field{
	border: 2px solid;
	height: 1000px;
	width: 1000px;
	background-color: #FFFFFF;
}
#maincanvas{
	width: 600;
	height: 600;
}
body{
	background-color: #EDEDED;
}
h1{
	font-family: sans-serif;
}
.footer{
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center;
}
.footer a{
	text-decoration: none;
	color: black;
}